<div class="search">
  <form #form="ngForm" (submit)="onSubmit()" >
    <input type="text" placeholder="Enter city" [(ngModel)]="cityName" name="city">
  </form>
</div>

<div class="container" *ngIf="weatherData">
    <div class="upperdata">
        <img src="../assets/hot.jpg" alt="Hot" *ngIf="weatherData.main.temp > 25" >
        <img src="../assets/cold.jpg" alt="Cold" *ngIf="weatherData.main.temp <= 25">
        <div class="weatherdata">
          <div class="location">{{weatherData.name}}</div>
          <div class="temperature">{{weatherData.main.temp | number:'1.0-0'}}°C</div>
        </div>

    </div>
    <div class="lowerdata">
      <div class="moreinfo">More Information</div>
      <div class="moreinfo-container">
        <div class="infoblock">
          <div class="infoblock-label">
            <img src="../assets/min.png" alt="Minimum">
            <span>min</span>
          </div>
          <div class="infoblock-value">
            {{weatherData.main.temp_min | number:'1.0-0'}}
          </div>
        </div>
        <div class="infoblock">
          <div class="infoblock-label">
            <img src="../assets/max.png" alt="Maximum">
            <span>max</span>
          </div>
          <div class="infoblock-value">
            {{weatherData.main.temp_max | number:'1.0-0'}}
          </div>
        </div>
      </div>
    </div>
</div>
<router-outlet></router-outlet>
